/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat Alternates', sans-serif;
  --animate-fadeIn: fadeIn 0.3s ease-in-out;

  @keyframes fadeIn{
    0%{
      opacity:0;
    }
    100%{
      opacity: 1;
    }
  }
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("/assets/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf")
    format("truetype");
}

@plugin "daisyui" {
  themes: dark --default, corporate --prefersdark;
}
